#########################################################################
# Dependabot configuration file
#########################################################################

version: 2
updates:
  ###################################
  # python  #########################
  ###################################
  - package-ecosystem: "pip"
    directory: "/test/no-issues/"
    schedule:
      interval: "daily"
    versioning-strategy: increase
    commit-message:
      prefix: "Upgrade: [dependabot] - "

  ###################################
  # nodejs  #########################
  ###################################
  - package-ecosystem: "npm"
    directory: "/test/no-issues/"
    schedule:
      interval: "daily"
    versioning-strategy: increase
    commit-message:
      prefix: "Upgrade: [dependabot] - "
